.btn-outline-purple {
  color: #6f42c1; /* Purple color */
  border-color: #6f42c1;
}

.btn-outline-purple:hover {
  background-color: #6f42c1;
  color: white;
}

.nav-z {
  z-index: 4;
}

.border-purple {
  border-color: purple !important;
}

.hover-purple:hover {
  background-color: purple !important;
  color: white !important;
}

.hover-purple:hover .btn-outline-purple {
  color: white !important;
  border-color: white !important;
}

.border-success {
  border-color: #28a745 !important;
}

.hover-success:hover {
  background-color: #28a745 !important;
  color: white !important;
}

.hover-success:hover .btn-outline-success {
  color: white !important;
  border-color: white !important;
}

.border-primary {
  border-color: #007bff !important;
}

.hover-primary:hover {
  background-color: #007bff !important;
  color: white !important;
}

.hover-primary:hover .btn-outline-primary {
  color: white !important;
  border-color: white !important;
}

.border-danger {
  border-color: #dc3545 !important;
}

.hover-danger:hover {
  background-color: #dc3545 !important;
  color: white !important;
}

.hover-danger:hover .btn-outline-danger {
  color: white !important;
  border-color: white !important;
}
